body {
  font-family: $font-family;
  font-size: 15px;
  font-weight: map-get($font-weight, small);
  margin-top: 4rem;
  background-color: $Very-Light-Gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: $Very-Dark-Blue;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-bottom: 2rem;
  h1 {
    width: 100%;
    font-weight: map-get($font-weight, bold);
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-weight: map-get($font-weight, small);
  }
}

.main-component {
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  color: $Very-Dark-Blue;
  height: 250px;
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px $Grayish-Blue;

  .card-heading h3 {
    font-weight: map-get($font-weight, bold);
    font-size: 1.5rem;
  }

  .card-icon {
    justify-self: end;
    align-self: end;
  }
}

.card:nth-of-type(1) {
  @include card-border-color($Cyan);
}

.card:nth-of-type(2) {
  @include card-border-color($Red);
}

.card:nth-of-type(3) {
  @include card-border-color($Orange);
}

.card:nth-of-type(4) {
  @include card-border-color($Blue);
}

@media screen and (min-width: 450px) {
  body {
    margin-top: 2rem;
  }

  .heading {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 2rem;
      width: 100%;
    }
  }
  .main-component {
    display: grid;
    width: 80%;
    height: 90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 2rem;
    grid-template-areas:
      ". f ."
      "s f t"
      "s o t"
      ". o .";
  }

  .card:nth-of-type(1) {
    grid-area: s;
  }

  .card:nth-of-type(2) {
    grid-area: f;
  }

  .card:nth-of-type(3) {
    grid-area: o;
  }

  .card:nth-of-type(4) {
    grid-area: t;
  }
}
